{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<div class="register">
    <h1>Registration</h1>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/register" method="post" class="reg">
        <p>Name: <input type="text" name="username" required></p>
        <p>Email: <input type="email" name="email" required></p>
        <p>Password: <input type="password" name="password" required></p>
        <p><input class="btn4" type="submit" value="Register"></p>
    </form>
</div>

{% endblock %}